#########################################################################################
# LiveZilla .htaccess
#
#########################################################################################
AddType text/cache-manifest appcache
